<div id="overlay" class="hidden" on:click='closeCurrentMovie()'></div>
<ul>
  {{#each theaterList as theater}}
    <li class="theater">
      <Theater theater="{{theater}}" theaters="{{theaters}}" movies="{{movies}}"
        on:setCurrentMovie='setCurrentMovie( event.movie )'
      />
    </li>
  {{/each}}
</ul>

{{#if currentMovie}}
  <Movie movie="{{currentMovie}}"
    on:closeCurrentMovie='closeCurrentMovie()'
  />
{{/if}}

<script>
import Theater from './Theater.html';
import values from 'lodash/values';
import Movie from './Movie.html';

export default {
  data () {
    return {}
  },
  components: {
    Movie,
    Theater,
  },
  computed: {
    theaterList: theaters => values(theaters),
  },
  methods: {
    setCurrentMovie( movie ) {
      document.body.classList.add('no-scroll');
      document.querySelector('#overlay').classList.remove('hidden');

      this.set({'currentMovie': movie.info});
      window.onhashchange = () => {
        if (location.hash === '') {
          this.closeCurrentMovie();
        }
      }
    },
    closeCurrentMovie () {
      // Hack to prevent firing twice TODO
      if (!this.get('currentMovie')) return;
      if (location.hash) {
        window.history.back();
      }
      this.set({'currentMovie': null});
      document.body.classList.remove('no-scroll');
      document.querySelector('#overlay').classList.add('hidden');
    },
  },
  onrender () {
  },
};
</script>
