<div class="theater-heading">
  <h2 class="theater-name">{{theater.name}}</h2>
  <div class="theater-details">{{theater.address.street}}, {{theater.address.city}} - <a href="tel:{{theater.callablePhone}}">{{theater.phone}}</a></div>
</div>
<ul class="movie-list flex-grid">
  {{#each currentMovies as movie}}
    <li class="movie half-col">
      <div class="">
        <div>
          <a href="#{{movie.id}}" on:click='fire( "setCurrentMovie", {movie} )'>{{movie.info.title}}</a>
        </div>
      </div>
      <div class="">
        <div>
          {{ formatShowtimes(movie.showtimes) }}
        </div>
      </div>
    </li>
  {{/each}}
</ul>

<script>
import { formatTimeString } from '../helpers/formatting';
import includes from 'lodash/includes';
import sortBy from 'lodash/sortBy';

export default {
  data () {
    return {}
  },
  computed: {
    currentMovies: (theater, movies) => {
      let sortedMovies = sortBy(theater.movies, movie => movies[movie.id].title);
      return sortedMovies.map(function(movie) {
        movie.info = movies[movie.id];
        movie.showtimes = movie.presentations[0].traitGroups[0].performances;
        return movie;
      });
    },
  },
  helpers: {
    formatShowtimes: showtimes => {
      const times = showtimes.map(showtime => formatTimeString(showtime.isoDate));
      return times.join(', ')
    }
  },
};
</script>
